
#reg_cust{

    display: block;
    border: red;
    font-family:"Times New Roman", Times, serif;
    font-size:16px;
    padding-bottom:40px;
    background-color:activecaption;
    width:100%;
    min-height:400px;
    alignment-baseline:central;
}

#reg_cust #bill_name{
    color: blueviolet;
    font-size: 17px;
}
#reg_cust hr{
    width:90%;
    alignment-adjust: auto;
}
#reg_cust #bill_content{
    color:#800040;
    font-size: 17px;
}
#reg_cust #bill_Total{
    color:#002d33;
    font-size: x-large;
    font-size: 17px;
}
.searching_all_rooms{
    margin:0px  auto;
    font-size:16px;
    padding:10px;
    background-color:#ffffff;
}
#reg_cust #date_ab_page{
    color: red;
    font-size: 18px;
}
#reg_cust #date_ab_page p{
    color: indigo;
    font-size: 18px;
}
#overview_head
{
    background-color:#9C6;
    color:#8080c0;
    font-size:16px;
}
#des
{
    padding: 2px;
    color: #ffffff;
}
.searching_all_rooms table{
    margin:0px  auto;
    font-size:16px;
    width: 66%;
}
.searching_all_rooms h2{
    text-align:center;
    color:#800040;
    font-size:20px;
}
.searching_all_rooms table{
    text-align:center;
    color:#008040;
    font-size:15px;
}
.admin_page_right
{
    width:100%;
    float:right;
    display: block;
    margin: 0px; 
    background-color: #ddd;
}

.admin_page_2nddiv_main
{
    width: 100%;
    margin:0px  auto;
    font-size:16px;
    padding:10px;
    background-color:#ffffff;
}
.admin_page_2nddiv_main table{
    margin:0px  auto;
    font-size:16px;
    width:92%;
}
#admin_page_first
{
    width:60%;
    background-color: #ccccff;
    margin: 30px auto;
    padding: 20px;
}
#admin_page_first_logout
{
    width:70%;
    text-align: right;
    margin-left: 120px;

}
#Administrator_text
{
    color: #800040;
    font-size: 20px;
}
#Administrator_Name
{
    color:dodgerblue;
    font-size: 16px;
}
#admin_work_output
{
    color: red;
    font-size: 18px;;
}
#admin_work_output2
{
    color: #5bc23b;
}
#admin_double_room
{
    color: #F03;
}
#admin_page_first_logout a
{
    color: #8000ff;
    font-size: 18px;
    text-decoration: none;
}
#admin_page_first_logout a:hover
{
    color:#800040;
    font-size: medium;
}
#admin_page_first_head
{
    width:100%;
    display: block;

}
#admin_page_first_head h1
{
    text-align: center;
    color:#004040;
    font-size:14px;
}
#admin_page_first_head p
{
    text-align: center;
    color:#004040;
    font-size:14px;
}
#admin_page_first_output
{
    color: #8080c0;
    font-size: 12px;
    text-align: center;
}
#admin_page_first h2
{
    color:#8000ff;
    text-align: center;
    width:100%;
    background-color: #ddd;
    font-size: 18px;
}
#admin_page_first h3
{
    color:#8000ff;;
    text-align: center;
    font-size: 20px;
    width: 100%;
    background-color: #ddd;
}
#admin_page_first_table
{
    width:60%;
    padding: 10px;
}
.book_button a
{ 
    border-radius: 14px;
    background-color:#8080c0;
    width:80px;
    text-decoration: none;
}
.book_button a:hover
{
    background-color:#699;
    color: #89688d;
    font-size: 18px;
}
.overview{
    text-align:center;
    color:#8000ff;
}
.book_button
{
    alignment-adjust: central;
    background-color: #ff9086;
}
#reg_page{

    display: block;
    border: red;
    background-color:activecaption;
    width:100%;
    min-height:400px;
    alignment-baseline:central;
}
#reg_page_can{
    margin:10px  auto;
    border-radius: 14px;
    height:400px;
    font-size:16px;
    padding:30px;
    background-color:#ddd;
}
#ad_login
{
    font-family:"Times New Roman", Times, serif;
    font-size:16px;
}
#admin_logout
{
    background-color: #8080c0;
    margin-left: 20px;
    color: #800040;
}
#admin_logout a
{
    text-decoration:none;
    text-align: center;
    font-size: 17px;
    color: #800040;
}
#admin_logout a:hover
{
    font-size: 18px;
}
#ad_login table
{
    font-family:"Times New Roman", Times, serif;
    align:center;
    border-radius: 13px;
    font-size:16px;
}
#admin_page{

    display: block;
    border: red;
    background-color:#FFFFFF;
    width: 100%;
    min-height:500px;
    alignment-baseline:central;
}
#admin_page_can{
    margin:10px  auto;
    height:400px;
    font-size:16px;
    padding:30px;
    background-color:#ffffff;
}
#tex_border
{
    width:160px;
    border-radius:2px;
}
#admin_page_can center{
    color:#0C9;
    font-family:"Times New Roman", Times, serif;
    font-size:24px;
}
#ad_login table{
    color: green;
    width:48%;
    padding-bottom:40px;
    margin-bottom:100px;
    margin-left:240px;
    margin-top:30px;
    background-color: #ddd;
}
#ad_th
{
    color: #800040;
    font-size: 22px;
    text-align: center;
}
#ad_th1
{
    color: #8000ff;
    font-size: 18px;
    text-align: center;
}
#reg_cust table{
    color: green;
    width:52%;
    padding-bottom:40px;
    margin-bottom:100px;
    margin-left:240px;
    margin-top:30px;
    background-color: #ddd;
}
#admin_page_can table{
    color: green;
    width:53%;
    padding-bottom:40px;
    margin-bottom:100px;
    margin-left:240px;
    margin-top:30px;
    background-color: #ddd;
}
.searching_all_rooms_right table{
    color: green;
    width:97%;
    border: 2px;
    padding-bottom:40px;
    margin-right: 30px;
    margin-bottom:20px;
    margin-left:20px;
    margin-top:30px;
    background-color: #ddd;
}
.room_details
{
    color: #33F;
    padding-left: 10px;
    text-align: left;
}
#regist_table
{
    width: 97%;

    margin-bottom:150px;
}

#reg_th
{
    font-size: 30px;
    color: blue;
}
#reg_th1
{
    font-size: 12px;
    color: blue;
}
#reg_th2
{
    font-size: 12px;
    color: blue;
}
#reg_th23
{
    font-size: 20px;
    color:blueviolet;
}
#reg_th3 p{
    font-size: 20px;
    color: blue;
}
#reg_td
{
    color:#6CC;
    background-color:#fbe99b;
    font-size:16px;
}

#ad_log_body
{
    background-color:activecaption;
    margin:2px auto;
    width:100%;
    display: block;
    alignment-adjust: central;
}
#ad_cust{
    float: right;
    display: block;
    border: red;
    border-bottom-width: 250px;
    background-color:activecaption;
    width: 100%;
    height: 400px;
    alignment-adjust: auto;
}
#delete_bar
{
    color:#800040;
    background-color:#FFC;
    text-align:center;
}
#delete_bar1
{
    color:#800040;
    background-color:#693;
    text-align:center;
}
#delete_sub
{
    color:#800040;
    text-align:center;
}
#insert_tex
{
    color:#33F;
}
#insert_button
{
    background-color:#09C;
    text-align:center;
    color:#F06;
}
#require_room_page
{
    background-color:#ffffff;
}
#search_room_can{
    margin:0px  auto;
    height:760px;
    font-size:16px;
    padding:0px;
    background-color:#ffffff;
}
#search_room_can h2{
    text-align:center;
    color:#800040;
    font-size:20px;
}
#overview_head
{
    color: #800040;
    alignment-adjust: central;
}
#search_room_page
{
    width:100%;
    border:5px solid #FFFFFF;
    float:left;
    display:block;
    height:760px;
    margin:0px auto;
    background-color:#ffffff;
}
/*customre document*/
#customer_document_left
{
    float:left;
    background-color:#ffffff;
    border-radius: 12px;
    height:250px;
    margin:12px;
    width:30%;
}
#customer_document_left a
{
    color:#C03;
    text-decoration:none;
}
#customer_document_left a:hover
{
    color:#36C;
    font-family:"Times New Roman", Times, serif;
    font-size:18px;
}
#cus_log_1
{
    text-align: center;
    background-color:#99F;
}
#cus_log_2
{
    text-align:center;
    background-color:#5bc23b;
}
#customer_document_right
{
    background-color:#699;
    float:right;
    margin:2px;
    width:68%;
}
#bill_id
{
    color:#F03;
}
.ad_submit
{
    font-size: 16px;
    color:#006699;
    font-family:"Times New Roman", Times, serif;
    background: #6E7AAC;
    color: #FFF;
    font-weight: bold;
    cursor: pointer;
    background-position:right;
    width: 40%;
    margin-left: 65px;
    margin-top: -20px;

}

#order_area{
    padding-left: 40%;
}
#user_order_area_page_first_table
{
    width:80%;
    table-layout: auto;
    margin-left: 20%;
    padding-left: 30%;
    padding-bottom: 20%;

}

